@import './Variables.css';

/* About Article */

.About-Article p {
    font-family: var(--karla-regular);
    font-size: var(--karla-regular-size);
    text-align: justify;
}

@media (max-width: 700px) {
    .About-Article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1vh 4vw;
    }

    .About-Left h1 {
        padding-bottom: 1vh;
        font-family: var(--markazi-medium);
        font-size: 1.5rem;
        color: var(--dark-gray);
    }

    .About-Right { /* Image container */
        margin: 5vh 0vw 0vh 0vw;
        padding: 0%;
    }

    .img1, .img2 {
        width: 80%;
        border-radius: 10px;
    }

    .img2 {
        position: relative;
        bottom: 5vh;
        left: 18vw;
    }
}

@media (min-width: 701px) and (max-width: 1374px) {
    .About-Article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1vh 4vw;
    }

    .About-Left h1 {
        padding-bottom: 1vh;
        font-family: var(--markazi-medium);
        font-size: 1.5rem;
        color: var(--dark-gray);
    }

    .About-Right { /* Image container */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 3.5vh 0vw 0vh 0vw;
        padding: 0%;
    }

    .img1, .img2 {
        width: 40%;
        margin: 0vh 0.5vw 3vh 0.5vw;
        border-radius: 10px;
    }
}

@media (min-width: 1375px) {
    .About-Article {
        display: grid;
        grid-template-columns: 35vw auto;
        min-height: 50vh;
        padding: 1vh 20vw;
    }

    .About-Left {
        padding: 0vh 3vw 0vh 0vw;
    }

    .About-Left h1 {
        padding-bottom: 1vh;
        font-family: var(--markazi-medium);
        font-size: 3rem;
        color: var(--dark-gray);
    }

    .About-Left p {
        font-size: 1.5rem;
    }

    .About-Right { /* Image container */
        display: flex;
        flex-direction: column;
        margin: 3.5vh 0vw 0vh 0vw;
        padding: 0%;
    }

    .img1, .img2 {
        width: 100%;
        border-radius: 10px;
    }

    .img1 {
        position: relative;
        top: 1vh;
    }

    .img2{
        position: relative;
        bottom: 3vh;
        left: 3vw;
    }
}