@import './Variables.css';

/* Highlights Article */

@media (max-width: 700px) {
    .Highlights-Article {
        padding: 4vh 4vw;
    }

    .Highlights-Top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: var(--markazi-medium);
        font-size: 1.5rem;
        color: var(--dark-gray);
    }
}

@media (min-width: 701px) and (max-width: 1374px) {
    .Highlights-Article {
        padding: 8vh 4vw;
    }

    .Highlights-Top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: var(--markazi-medium);
        font-size: 1.5rem;
        color: var(--dark-gray);
    }
}

@media (min-width: 1375px) {
    .Highlights-Article {
        padding: 8vh 20vw
    }

    .Highlights-Top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: var(--markazi-medium);
        font-size: 3rem;
        color: var(--dark-gray);
    }
}