@import url(./Variables.css);

.Navbar-Parent {
    cursor: default;
}

.Navbar-UL {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 700px) {
    .Navbar-UL li {
        margin: 0vh 0.5vw;
        padding: 2.5vh 1vw;
        border-bottom: 3px solid white;
        transition: 300ms;
    }
}

@media (min-width: 701px) {
    .Navbar-UL li {
        margin: 0vh 0.5vw;
        padding: 3vh 1vw;
        border-bottom: 3px solid white;
        transition: 300ms;
    }
}

.Nav-Link {
    text-decoration: none;
    color: var(--dark-green);
    font-family: var(--karla-bold);
    font-size: var(--karla-bold-size);
}

.Navbar-UL li:hover {
    transition: 300ms;
    border-bottom: 3px solid var(--dark-green);
}